

{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="">Mostar</li>
            <li><a href="{{ path('app_modify_parking', {'plazaId': 1}) }}">Editar</a></li>

            <li><a href="">Agregar</li>
        </ul>
    </header>
    <div class="container">
        <div class="parking-container">
            {% for plaza in parkings %}
                <div class="parking-item" style="margin: 5px; padding: 10px; background-color: #f5f5f5;">
                    ID Plaza: {{ plaza.IdPlaza }}
                </div>
            {% else %}
                <p>No hay plazas registradas.</p>
            {% endfor %}
        </div>
    </div>
    <footer></footer>
{% endblock %}
