  header {
        background-color: #333;
        color: white;
        padding: 10px;
        & > ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            & > li {
                margin-right: 20px;
                width: 33%;
                text-align: center;

                & > a {
                    color: white;
                    text-decoration: none;
                    width: 100%;
                    display: block;


                    &:hover {
                        text-decoration: underline;
                        background-color: #555;
                        
                    }
                }
            }
        } 
    }
    .container {
        width: 100%;
        height: auto;

        & > .parking-container {
            width: 75%;
            height: 100%;
            background-color: #ccc;
            float: left;
            overflow-x: auto; 
            white-space: nowrap; 
            
            & > .parking-images {
                position: relative;
                width: 1800px;
                height: 1250.580px;

                & > .image-base {
                    width: 1800px;
                    height: 1250.580px;
                }

                & > .image-overlay{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 1800px;
                    height: 1250.580px;
                    opacity: 1;
                    z-index: 2;
                }
            }
            
        }
        & > .legend {
            width: 25%;
            height: 100%;
            background-color: #aaa;
            float: right;
            display: flex;
            flex-direction: column;
            justify-content: center; 
        }
    }