
    header {
        background-color: #333;
        color: white;
        padding: 10px;
        & > ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;

            & > li {
                margin-right: 20px;
                width: 33%;
                text-align: center;

                & > a {
                    color: white;
                    text-decoration: none;
                    width: 100%;
                    display: block;


                    &:hover {
                        text-decoration: underline;
                        background-color: #555;
                        
                    }
                }
            }
        } 
    }
    .container {
        width: 100%;
        height: auto;

        & > .parking-container {
            width: 75%;
            height: 100%;
            background-color: #ccc;
            float: left;
            overflow-x: auto; 
            white-space: nowrap; 
            
            & > .parking-images {
                position: relative;
                width: 1800px;
                height: 1250.580px;

                & > .image-base {
                    width: 1800px;
                    height: 1250.580px;
                }

                & > .image-overlay{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 1800px;
                    height: 1250.580px;
                    opacity: 1;
                    z-index: 2;
                }
                & > .info-panel-parking {
                    position: absolute;
                    display: none;
                    background: white;
                    border: 1px solid #ccc;
                    padding: 1rem;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0,0,0,0.2);
                    z-index: 1000;

                    & > form {
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;

                        & > label {
                            margin-left: 10px;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 0.25em;
                        }

                        & > input {
                            width: 85%;
                            margin-left: 10%;
                            padding: 2px;
                            border-radius:  5px ;
                        }
                        & > input[readonly] {
                            background-color: #f0f0f0; 
                            color: #777; 
                        }

                        & > select {
                            width: 85%;
                            margin-left: 10%;
                            padding: 2px;
                            border-radius:  5px ;
                        }


                        & > button[type="submit"] {
                            margin-top: 0.5em;
                            width: 45%;
                            height: auto;
                            background-color: #333;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            margin-right: 5%;
                            padding: 5px;
                            margin-bottom: 0%;

                            &:hover {
                                background-color: #555;
                            }
                        }

                        & > button[type="button"] {
                            margin-top: 0.5em;
                            width: 45%;
                            height: auto;
                            background-color: #333;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            padding: 5px;
                            margin-bottom: 0%;

                            &:hover {
                                background-color: #555;
                            }
                        }
                        
                    }

                    
                }
            }
            
        }
        & > .legend {
            width: 25%;
            height: 100%;
            background-color: #aaa;
            float: right;
            display: flex;
            flex-direction: column;
            justify-content: center; 

            & > button {
                width: 80%;
                height: 50px;
                margin: 10px auto;
                background-color: #333;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #555;
                }
            }
        }
        & > #form-crear , & > #form-modificar {
            z-index: 2000;
            top: 10%;
            left: 10%;
            width: 40%;
            max-width: 450px;
            height: auto;
            margin: 10%;
            background-color: rgb(192, 192, 192);
            position: absolute;
            padding: 2%;
            border-radius: 10%;

            & > h3 {
                text-align: center;
                margin-bottom: 20px;   
            }
            & > h4 {
                display: block;
                font-weight: bold;
                margin-bottom: 0.5em;
                margin-top: 0.5em;
                font-size: 1.2em;
            }
            & > input {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            & > .input-color {
                height: 50px;
                width: 50%;
            }

            & > select {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                border: 1px solid #ccc;
            }
            & > button {
                width: 100%;
                padding: 10px;
                background-color: #333;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #555;
                }
            }
        }
    }